* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    border: 3px solid black;
}

th {
    padding: 20px;
}

th:has(input){
    padding: 0;
}

table, th, td {
    border: 1px solid black;
}

input {
    text-align: center;
    width: 100%;
    height: 80px;
    border: none;
    font-size: 1rem;
}

.deductions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5% 5% 0 5%;
}

.deductions-container h1 {
    padding-bottom: 20px;
}